<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto+Condensed:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">	
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> 
	<link rel="stylesheet" href="../../css/header.css"/>
	<script type="text/javascript" src="../../js/shCore.js"></script>
	<script type="text/javascript" src="../../js/shBrushCss.js"></script>
	<script type="text/javascript" src="../../js/shBrushJScript.js"></script>
	<script type="text/javascript" src="../../js/shBrushPlain.js"></script>
	<script type="text/javascript" src="../../js/shBrushXml.js"></script>
    <link type="text/css" rel="stylesheet" href="../../css/shCore.css"/>
    <link type="text/css" rel="stylesheet" href="../../css/shThemeDefault.css"/>
    <script type="text/javascript">
        SyntaxHighlighter.config.clipboardSwf = '../../clipboard.swf';
        SyntaxHighlighter.all();
    </script>
    <link rel="stylesheet" href="../styles/main.css"/	>
</head>
<body>
<header class="header-two-bars">
	<div class="header-first-bar">
		<div class="header-limiter">
			<h1><a href="#">Coding<span>flag</span></a></h1>
			<nav>
				<a href="#">JavaScript</a>
				<a href="#" class="selected">CSS</a>
				<a href="#">API</a>
			</nav>
		</div>
	</div>
</header>
<div class="container main-content">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8">
			<div class="card col-xs-12 col-sm-12 col-md-12">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="content padding">
							<h2>20 Examples Of Web-Based Annual Reports</h2>
							<p class="posted">POSTED ON <b>APRIL 4, 2017</b></p>
							<img style="width:100%;" class="img-responsive" src="http://codingflag.in/codes/Html_Web/20160803020849pm53/preview.jpg" alt="">
							<p class="details">
								Libraries Required 
								<br>
								p5.js - <a href="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.min.js">https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.min.js</a>
							</p>
							<div class="code htmlCode">
								<div class="title">html</div>
				                <pre class="brush: html" style="margin-top:-10px;">
&lt;div id=&quot;sidebar&quot;&gt;
								</pre> 
							</div>
							<div class="code jsCode">
								<div class="title">JavaScript</div>
				                <pre class="brush: js" style="margin-top:-10px;">
var brushColor; 
var bgColor;
				                </pre> 
							</div>
							<div class="code cssCode">
								<div class="title">css</div>
				                <pre class="brush: css" style="margin-top:-10px;">
body{
	margin: 0px;
	padding: 0px;
	max-width: 100%;
}
				                </pre> 
							</div>
							<div class="codepen-embed">
								<p data-height="365" data-theme-id="dark" data-slug-hash="peXzyK" data-default-tab="js,result" data-user="dsr" data-embed-version="2" data-pen-title="Paint p5.js" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/dsr/pen/peXzyK/">Paint p5.js</a> by Darshan Rajadhyaksha (<a href="http://codepen.io/dsr">@dsr</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<b>b</b>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>